.header__button {
  height: 24px;
  padding: 0px;
  font-size: 16px;
  font-family: "Book Antiqua", Arial, sans-serif;
  color: rgb(71, 40, 0);
  line-height: 1.2;
  border-style: none;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(216, 201, 146);
  border-radius: 5px;
  background-image: -moz-linear-gradient( 90deg, rgb(250,237,199) 0%, rgb(234,207,143) 13%, rgb(232,196,120) 58%, rgb(255,249,224) 96%, rgb(255,249,224) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(250,237,199) 0%, rgb(234,207,143) 13%, rgb(232,196,120) 58%, rgb(255,249,224) 96%, rgb(255,249,224) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(250,237,199) 0%, rgb(234,207,143) 13%, rgb(232,196,120) 58%, rgb(255,249,224) 96%, rgb(255,249,224) 100%);
}
.header__button:nth-child(1) {
  margin-bottom: 7px;
}
.header__button:hover {
  cursor: pointer;
}
