.search__option-title {
  margin: 0px 0px 15px 0px;
  font-size: 18px;
  font-family: "Verdana", Arial, sans-serif;
  color: rgb(69, 37, 10);
  line-height: 1.2;
  text-shadow: 0px 1px 0px rgba(17, 17, 26, 0.46);
}
